.main {
  min-height: calc(100vh - 169px);
}

.left-menu {
  width: 250px;
  min-height: 100vh;
}

.left-menu li {
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.carousel {
  height: 60vh;
}

.carousel img {
  height: 60vh;
}

.left-name {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2rem;
  background: rgb(55, 55, 217);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-review {
  width: calc(100%);
}
